<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <span class="label label-danger">{{errorMessage}}</span>
                <span class="label label-success">{{successMessage}}</span>
              </div>
              <form {{action 'change' on='submit'}}>
                <div class="form-group">
                  {{elements/validated-input type='password' model=this valuePath='password' placeholder='New password' didValidate=didValidate}}
                </div>
                <div class="form-group">
                  {{elements/validated-input type='password' model=this valuePath='confirmPassword' placeholder='Repeat new password' didValidate=didValidate}}
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <button class="form-control btn btn-primary" type="submit">
                        {{#if processing}}
                          <FaIcon @icon="circle-notch" @spin={{true}} />
                        {{/if}}
                        Change password
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{yield}}