<div class="panel-body">
  <div class="row">

    <div class="col-lg-12">
      <div class="form-group">
        <span class="label label-danger">{{errorMessage}}</span>
      </div>

      <BsForm @formLayout="vertical" @model={{this}} @onSubmit={{action "authenticate"}} as |form|>
        <form.element @controlType="email" @label="Email" @placeholder="Email" @property="identification" @required={{true}} />
        <form.element @controlType="password" @label="Password" @placeholder="Password" @property="password" @required={{true}} />
        <BsButton class="form-control btn btn-primary" @type="primary" @buttonType="submit" >
          {{#if processing}}
            <FaIcon @icon="circle-notch" @spin={{true}} />
          {{/if}}
          Login
        </BsButton>
      </BsForm>

    </div>

    <span {{action (route-action 'openModal' 'registration')}}>
      <a href="#">Registration</a>
    </span>
    <span {{action (route-action 'openModal' 'reset-password')}}>
      <a href="#">Forgot password?</a>
    </span>

  </div>
</div>
{{yield}}