{{#if filter.attributes}}

  <div style="{{if isLoaded "opacity: 0.7"}}">
    <div class="navbar navbar-default visible-xs">
      <div class="container-fluid">
        {{#bs-button onClick=(action (mut collapsedSidebar) (if collapsedSidebar false true))
                     class="btn btn-default navbar-btn"}}
          <i class="fa fa-tasks"></i> Filter
        {{/bs-button}}
      </div>
    </div>

    {{#bs-collapse collapsed=(if collapsedSidebar false true)
                   class="col-xs-7 col-sm-3 visible-sm visible-md visible-lg collapse sliding-sidebar"}}
      <div>

        {{#each filter.attributes as |attribute|}}

          {{#accordion-item title=attribute.name}}
            {{#if attribute.isRange}}
              {{elements/range-select name=attribute.name selectedFilter=selectedFilter
                                      onchange=(action 'filtering')}}
            {{else}}
              {{elements/multi-select-checkboxes
                options=attribute.attributeValues
                selection=(get selectedFilter attribute.name)
                updateSelectionValue=false
                labelProperty='value'
                valueProperty='id'
                attributeId = attribute.name
                isLoaded = isLoaded
                onchange=(action 'filtering' attribute.name)
              }}
            {{/if}}
          {{/accordion-item}}
        {{/each}}

      </div>
    {{/bs-collapse}}
  </div>
{{/if}}

{{yield}}