{{#if filter.attributes}}

  <div style="{{if isLoading (html-safe "opacity: 0.5")}}">
    <div class="navbar navbar-default visible-xs">
      <div class="container-fluid">
        {{#bs-button onClick=(action (mut collapsedSidebar) (if collapsedSidebar false true))
                     class="btn btn-default navbar-btn"}}
          <i class="fa fa-tasks"></i> Filter
        {{/bs-button}}
      </div>
    </div>

    {{#bs-collapse collapsed=(if collapsedSidebar false true)
                   class="col-xs-7 col-sm-3 visible-sm visible-md visible-lg collapse sliding-sidebar"}}
      <div>

        {{#each filter.attributes as |attribute|}}
            {{#if attribute.isNumeric}}
              {{#accordion-item title=attribute.name}}
                  {{elements/range-select selection=(get selectedFilter attribute.name)
                                      onchange=(action 'filtering' attribute.name)}}
              {{/accordion-item}}
            {{else}}
              {{#if attribute.isRelated}}
                {{#accordion-item title=attribute.name}}
                    {{elements/multi-select-checkboxes
                      options=attribute.attributeValues
                      selection=(get selectedFilter attribute.name)
                      updateSelectionValue=false
                      labelProperty='value'
                      valueProperty='id'
                      attributeId = attribute.name
                      isLoading = isLoading
                      filterCounter = filter.filterCounter
                      onchange=(action 'filtering' attribute.name)
                    }}
                {{/accordion-item}}
              {{/if}}
            {{/if}}
        {{/each}}

      </div>
    {{/bs-collapse}}
  </div>
{{/if}}

{{yield}}