{{#bs-navbar type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}Brand{{/link-to}}
  </div>
  {{#navbar.content id="navbarSupportedContent"}}
    {{#navbar.nav as |nav|}}
      {{#each categories as |category|}}
        {{#if category.isTopLevel}}
          {{#nav.item}}
            {{#nav.link-to "category" category current-when=(in-breadcrumbs category.id)}}
              {{category.title}}
            {{/nav.link-to}}
          {{/nav.item}}
        {{/if}}
      {{/each}}
    {{/navbar.nav}}

    <ul class="nav navbar-nav navbar-right">
      {{#if session.isAuthenticated}}
        {{currentUser.user.userName}}
        <button {{action 'invalidateSession'}}>Logout</button>
      {{else}}
        <li>
          <div class="navbar-form">
            <button type="button" class="btn btn-default" {{action (route-action 'openModal' 'login')}}>Login</button>
          </div>
        </li>
      {{/if}}
    </ul>

  {{/navbar.content}}
{{/bs-navbar}}


{{yield}}