<div class="container-fluid">

  {{site-breadcrumbs}}
  {{render-menu-level category=model}}

  <hr>
  <div class="container-fluid">
    <div class="row">
      {{site-filter isLoading=model.nodes.isPending}}
      <div>
        {{#if model.nodes.isPending}}
          Loading ...
        {{else}}
          {{nodes-list nodes=model.nodes}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-center">
      {{#if model.nodes.content.canLoadMore}}
        {{load-more-button infinityModel=model.nodes}}
      {{/if}}
    </div>
    <div class="text-center">
      {{page-numbers infinityModel=model.nodes action=(route-action 'goToPage')}}
    </div>
  </div>

</div>

{{outlet}}